<div>
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>

<article class="about">
	<h2>Sobre mi</h2>
	<p>

		Presentación de la unidad:	
Bienvenido(a) a la unidad 1 de la materia de Informática. En esta se verán los principales temas referentes al procesador de textos; entre ellos, el entorno de trabajo y herramientas para edición, formato, tablas, dibujo y combinación de tareas. Previamente, se abordarán conceptos básicos referentes al software e internet.
Con el desarrollo de esta unidad identificarás y aplicarás los elementos necesarios en la elaboración de documentos con calidad, requeridos en la entrega y/o presentación de información. 
Este tipo de herramientas favorecerá el cumplimiento de tus actividades como profesional, tales como la elaboración de informes y expedientes digitales.

	</p>
</article>