
@{
    ViewData["Title"] = "Contacto";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"].</h3>
<address>
    Carr. La sabiduria # 100 <br />
    Salamanca, Gto <br />
                   <abbr title="telefono">P:</abbr>
    464646444
</address>

<address>
    <strong>Soporte:</strong>
    <a href="mailto:soporte@mtweb.com">soporte@mtweb.com</a><br />

    <strong>Ventas:</strong>
    <a href="mailto:soporte@mtweb.com">ventas@mtweb.com</a><br />
</address>
