@{
    ViewData["Title"] = "Sistema Academico";
}

    <div class="text-center">
        <h1 class="display-4">Bienvenido al SisAcad</h1>
        <p>Aprendiendo <a href="/">Construyendo nuestro sistema academico</a></p>
    
    </div>